## Project: Investigating Medical Appointment Dataset


### Table of Contents

* [Introduction](#Introduction)
* [Data Wrangling](#DataWrangling)
* [Exploratory Data Analysis](#ExploratoryDataAnalysis)
* [Conclusions](#Conclusion)

## Introduction

This dataset collects information from 100k medical appointments in Brazil and is focused on the question of whether or not patients show up for their appointment.

Originally sourced from [Kaggle](https://www.kaggle.com/wbadry/noshow-appointment-may-2016), aim of this project is analyse the data and come up with possible conclusions why patients do not show up for their appointments.

## possible questions include, 

    is noshow for certain age group
    do they receive reminder notifications
    do they belong to certain category - in terms of background or family relationships
    are they rich or poor
    are they recipients of the Bolsa familia scholarship or not
    is it attributed to a certain sickness
    does alcoholism have a role to play

In [183]:
#import packages
import pandas as pd
import numpy as np


from scipy import stats

# imports for better control of output and plots

from IPython.display import display
import matplotlib.pyplot as plt
import seaborn as sns

#show plots in the notebook
%matplotlib inline

In [186]:
%%HTML
<style type="text/css">
table.dataframe td, table.dataframe th {
    border: 1px  black solid !important;
  color: black !important;
}
</style>

## Data Wrangling

In this section, I will load my data, inspect data to understand the structure. Check for cleanliness and then trim to the final dataset which will be used for the analysis.

In [187]:
df = pd.read_csv('noshow_appointments.csv')
df.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589980e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262960e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679510e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841190e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No

## Filter, dropnulls, deduplicate, rename columns and replace as required

In [143]:
#convert column names to small caps, replace '-' and ' ' with '_'
df.rename(columns=lambda x: x.strip().lower().replace("-", "_"), inplace=True)
df.head(1)

,patientid,appointmentid,gender,scheduledday,appointmentday,age,neighbourhood,scholarship,hipertension,diabetes,alcoholism,handcap,sms_received,no_show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No

In [144]:
#i dont like the look of the column headers so let me rename them with underscore
df.rename(columns={'patientid':'patient_id','appointmentid':'appointment_id','scheduledday':'scheduled_day','appointmentday':'appointment_day'},inplace=True)
df.head(1)

,patient_id,appointment_id,gender,scheduled_day,appointment_day,age,neighbourhood,scholarship,hipertension,diabetes,alcoholism,handcap,sms_received,no_show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No

In [145]:
#to view the total number of rows and columns
df.shape

(110527, 14)

In [146]:
#to give general information about the dataset. 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 14 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   patient_id       110527 non-null  float64
 1   appointment_id   110527 non-null  int64
 2   gender           110527 non-null  object
 3   scheduled_day    110527 non-null  object
 4   appointment_day  110527 non-null  object
 5   age              110527 non-null  int64
 6   neighbourhood    110527 non-null  object
 7   scholarship      110527 non-null  int64
 8   hipertension     110527 non-null  int64
 9   diabetes         110527 non-null  int64
 10  alcoholism       110527 non-null  int64
 11  handcap          110527 non-null  int64
 12  sms_received     110527 non-null  int64
 13  no_show          110527 non-null  object
dtypes: float64(1), int64(8), object(5)
memory usage: 11.8+ MB

In [147]:
#convert patient_id to int
df['patient_id'] = df['patient_id'].astype('int64')
#df.dtypes

In [148]:
#df['patient_id'].unique()
#df['patient_id'].nunique()
#df['patient_id'].duplicated()

Patient_id field has a lot of duplicated values. For me this is expected as a patient can have one or more number of appointments.

In [149]:
df['scheduled_day'].head(2)

0    2016-04-29T18:38:08Z
1    2016-04-29T16:08:27Z
Name: scheduled_day, dtype: object

In [150]:
df['appointment_day'].head(2)

0    2016-04-29T00:00:00Z
1    2016-04-29T00:00:00Z
Name: appointment_day, dtype: object

In [151]:
columns = ['scheduled_day', 'appointment_day']
for column in df[columns]:
    print(column)
    df[column] = pd.to_datetime(df[column])
    print(df[column].head(2))

scheduled_day
0   2016-04-29 18:38:08+00:00
1   2016-04-29 16:08:27+00:00
Name: scheduled_day, dtype: datetime64[ns, UTC]
appointment_day
0   2016-04-29 00:00:00+00:00
1   2016-04-29 00:00:00+00:00
Name: appointment_day, dtype: datetime64[ns, UTC]

In [152]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 14 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   patient_id       110527 non-null  int64
 1   appointment_id   110527 non-null  int64
 2   gender           110527 non-null  object
 3   scheduled_day    110527 non-null  datetime64[ns, UTC]
 4   appointment_day  110527 non-null  datetime64[ns, UTC]
 5   age              110527 non-null  int64
 6   neighbourhood    110527 non-null  object
 7   scholarship      110527 non-null  int64
 8   hipertension     110527 non-null  int64
 9   diabetes         110527 non-null  int64
 10  alcoholism       110527 non-null  int64
 11  handcap          110527 non-null  int64
 12  sms_received     110527 non-null  int64
 13  no_show          110527 non-null  object
dtypes: datetime64[ns, UTC](2), int64(9), object(3)
memory usage: 11.8+ MB

In [153]:
#scheduled day is stored as an object. Data type should be date time
#df.scheduled_day = df.scheduled_day.apply(np.datetime64)
#df.info()

In [154]:
#appointment day is stored as a string. Data type should be date time
#df.appointment_day = df.appointment_day.apply(np.datetime64)
#df['appointment_day']= df['appointment_day'].apply(pd.to_datetime)

In [155]:
df['day'] = df['scheduled_day'].apply(lambda r:r.day)
df.day

0         29
1         29
2         29
3         29
4         29
          ..
110522     3
110523     3
110524    27
110525    27
110526    27
Name: day, Length: 110527, dtype: int64

In [161]:
# Create a function that takes a datetime (dt) and extracts the weekday_name property
day_from_datetime = lambda dt: dt.weekday_name

# Apply the function to the AppointmentDay column
#df['DayOfWeek'] = df.appointment_day.apply(day_from_datetime)

In [169]:
df['weekday'] = pd.to_datetime(df['appointment_day']).apply(lambda x: x.weekday())

In [166]:
df['weekday'] = df['appointment_day'].dt.dayofweek
df.weekday

0         4
1         4
2         4
3         4
4         4
         ..
110522    1
110523    1
110524    1
110525    1
110526    1
Name: weekday, Length: 110527, dtype: int64

In [170]:
df['appointment_dow'] = df.scheduled_day.dt.weekday_name

# Check the values
df['appointment_dow'].value_counts()

AttributeError: 'DatetimeProperties' object has no attribute 'weekday_name'

In [33]:
#check for null values in each column
df.isnull().sum()

patient_id         0
appointment_id     0
gender             0
scheduled_day      0
appointment_day    0
age                0
neighbourhood      0
scholarship        0
hipertension       0
diabetes           0
alcoholism         0
handcap            0
sms_received       0
no_show            0
dtype: int64

In [41]:
#to confirm there is no null value in the columns
df.isnull().sum().any()

False

In [43]:
#to compare the uniqueness of the values contained
df.sms_received.unique(), df.sms_received.nunique()

(array([0, 1], dtype=int64), 2)

### To give general infoormation about the dataset. This will give an overview of the data type
the number of null or missing values. It gives an overall view of the data and helps decide on the next step to take. Knowing the data type and matching it with the data displayed in the column will help determine if there is need to change the data type or not.
Also it knowing the number of null values will help know how to fix the problem

In [54]:
#to give general information about the dataset. 
df.info();

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 14 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   patient_id       110527 non-null  int64
 1   appointment_id   110527 non-null  int64
 2   gender           110527 non-null  object
 3   scheduled_day    110527 non-null  object
 4   appointment_day  110527 non-null  object
 5   age              110527 non-null  int64
 6   neighbourhood    110527 non-null  object
 7   scholarship      110527 non-null  int64
 8   hipertension     110527 non-null  int64
 9   diabetes         110527 non-null  int64
 10  alcoholism       110527 non-null  int64
 11  handcap          110527 non-null  int64
 12  sms_received     110527 non-null  int64
 13  no_show          110527 non-null  object
dtypes: int64(9), object(5)
memory usage: 11.8+ MB

This data seems very clean

From this info displayed there are no missing values. 
possible change here will be to convert the scheduled day and appointment day to data time instead of object.

Next step will be to check for duplicacy focusing on the patient Id??
it is possible to have one patient more than once, so it is not a good idea

In [40]:
#checked for duplicacy return zero. this means the entry contains uniue Id for each patient
#df.duplicated()
sum(df.duplicated())

0

In [16]:
#to have a look at the summary statistics
df.describe()

,PatientId,AppointmentID,Age,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received
count,1.105270e+05,1.105270e+05,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000
mean,1.474963e+14,5.675305e+06,37.088874,0.098266,0.197246,0.071865,0.030400,0.022248,0.321026
std,2.560949e+14,7.129575e+04,23.110205,0.297675,0.397921,0.258265,0.171686,0.161543,0.466873
min,3.920000e+04,5.030230e+06,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.172615e+12,5.640286e+06,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.173180e+13,5.680573e+06,37.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,9.439170e+13,5.725524e+06,55.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,9.999820e+14,5.790484e+06,115.000000,1.000000,1.000000,1.000000,1.000000,4.000000,1.000000

### This dataset contains in total 110527 rows and 14 columns.  

- Patient Id seems unique, likewise the appointment Id. 
- The scheduled daya and appointment daya are recorded as date time.
- neighbourhood doesnt seem unique this is possible as two or more patients could come from the same neighbourhood. 

- the no_show column records 'Yes' if there is a noshow and records 'No' if the patient shows up for the appointment.

- scholarships was stored as integer, probably '0' for No and '1' for yes.

### Things to do:

    change appointment day to date time or extract day from it
    change scheduled day also, as both are stored as object
    change scholarship to object and convert o to no and 1 to yes
    the same numeric values were usedd so it might be best to change data type to integer and not float
    rename column to small caps